/**
*	TODO:
*/

/* Generales */
* {
	margin: 0;
	padding: 0;
}

p{
	font-family: rexlia;
	color:white;
	font-size:22px;
}

h1 {
	display: block;
	color: white;
	text-align: center;
	font-family: THUNDERJAGGER;
	font-size: 50px;
}

a {
	text-decoration: none;
}

i {
	font-size: 20px;
}
/* Body */

body {
	height: 100%;
	overflow-x: hidden;

	/*grid*/
	display: grid;
	grid-template-rows: [header] 100px [containerinicio] 100px [container] 1fr [containerfin] 100px [footer] 50px;
	grid-template-columns: repeat(6,1fr);
}

/* Header */

header {
	background-color: #514948;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 100px auto 100px ;
	z-index: 2;

	/*grid*/
	grid-column-start: 1;
	grid-column-end: 7;
}

header h1 {
	display: block;
	color: white;
	text-align: center;
	font-family: THUNDERJAGGER;
	font-size: 50px;
	z-index: 3;

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

header img {
	width: 50%;
	margin: 25px;

	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}


header  div {
	width: 100%;
	height: 100%;
	z-index: 3;

	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

header > div:hover + ul {
	visibility: visible;
	margin-top: 12px;
}


header ul {
	visibility: visible;
	background-color: white;
	display: block;
	list-style: none;
	z-index: 1;


	transition-property: margin-top;
  transition-duration: 0.3s;

	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;

	margin-top: -70px;
	right: 20px;
	width: 100px;
}

header ul:hover {
	margin-top: 12px;

}

header ul > li {
	padding: 8px;
	font-family: rexlia;
	background-color:#424242;

}

#opaco {
	background-color: inherit;
	z-index: 2;
	grid-column-start: 2;
	grid-column-end: 4;
}

header a{
	color: white;
}

header a:hover{
	color: #D8D8D8;
}

#gancho{
	text-align: center;
	z-index: 3;

	grid-column-start: 2;
	grid-row-start: 2;
}

/* Contenido */

#ladoIzq {
	background-image: url(img/fondoizq.jpg);

	/*grid*/
	grid-column-start: 1;
	grid-column-end: 4;

	/*flexbox*/
	flex-direction: row-reverse;

}

#ladoIzq>p {
	visibility: hidden;
	width: 70%;
	margin: 120px auto;
	background-color: rgba(118, 186, 245, 0.3);
	padding:10px;
	border-radius: 10px;
	height: 150px;
}

#ladoIzq>img:hover + p {
	visibility: visible;
}


#ladoDer {
	background-image: url(img/mont3.jpg);

	/*grid*/
	grid-column-start: 4;
	grid-column-end: 7;

}

#ladoDer>p {
	visibility: hidden;
	width: 70%;
	margin: 120px auto;
	background-color: rgba(12, 99, 3, 0.37);
	padding:10px;
	border-radius: 10px;
	height: 150px;
}

#ladoDer>img:hover + p {
	visibility: visible;
}

.fondoContainer {
	display: flex;

	background-repeat: no-repeat;
	background-size: cover;

	grid-row-start: containerinicio;
	grid-row-end: footer;

	padding: 20px 0;
}

.fondoContainer > img {
	height: 500px;
  margin: 100px 0;
}

#logo {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: 250px auto;
}

#logo img {
	width: 150px;
}
/* Footer */

footer {
	background-color: #514948;

	/*grid*/
	grid-row-start: 5;
	grid-column-start: 1;
	grid-column-end: 7;
	z-index: 3;
}


#pabajo{
	font-size:14px;
	color:#D8D8D8;
	text-align: center;
	margin-top:13px;
}

@media (min-height: 800px){

	body{
		grid-template-rows: [header] 100px [containerinicio] 100px [container] 500px [containerfin] 100px [footer] auto;
	}

}

@media (max-width: 800px) {

	/* Index */
	body {
		display: grid;
		grid-template-rows: 110px 550px 30px 45px 550px 50px;
		grid-template-columns: 1fr;
	}

	#ladoIzq {
		grid-row-start: 2;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;

		background-attachment: fixed;
	}

	#ladoIzq img {
		margin: 0;
	}

	#ladoDer p {
		background-color: rgba(12, 99, 3, 0.37);
	}

	#ladoDer {
		grid-row-start: 4;
		grid-row-end: 6;
		grid-column-start: 1;
		grid-column-end: 2;

		background-attachment: fixed;
	}

	#ladoDer img{
		margin: 25px 0;
	}

	#ladoIzq p {
		background-color: rgba(118, 186, 245, 0.3);
	}

	#ladoIzq p, #ladoDer p{
		margin: 200px auto;
		padding: 10px;
		border-radius: 7px;
	}

	#logo {
		grid-row-start: 3;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;

		width: 100%;
		padding: 0;
		margin: 0;
		background: rgba(230,230,230,.5);
	}

	#logo img{
		width: 100px;
		margin: 0 45%;
	}

	footer {
		grid-row-start: 6;
		z-index: 4;
	}

	/* contacto */

	#bodyContacto {
		grid-template-rows: 100px 100px 1fr 100px 1fr 100px;
		grid-template-columns: 1fr;
	}

	#leyenda2{
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 2;
		grid-column-end: 4;
		padding: 20px;

	}

	#nosotros {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 4;

	}

	#contacta {
		grid-row-start: 5;
		grid-row-end: 6;
		grid-column-start: 1;
		grid-column-end: 4;

	}

	/*Arreglar*/
  #fondocon{
	 grid-row-start: 2;
	 grid-row-end: 8;
	 grid-column-start: 1;
	 grid-column-end: 3;
  }

}

/* ------------ Tienda -------------*/

/*Container*/
#bodyTienda {
	grid-template-columns:15px 1fr 15px;
	grid-template-rows: 100px auto 100px ;
	grid-row-gap: 15px;

	background-image: url("img/mont3.jpg");
	background-size: fill;
	background-attachment: fixed;
	background-size: cover;
}

#containerTienda {
	display: grid;
	width: 100%;
	height: 100%;

	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;

	grid-template-rows: [leyenda] 50px [tipo1] 1fr [tipo2] 1fr [mixto] 1fr;
	grid-template-columns: [individual] 2fr [peque] 3fr [grande] 4fr;

 	grid-column-gap: 15px;
 	grid-row-gap: 15px;
	/*! grid-row-margin-top: 15px; */
}

.caja {
  padding:10px;
	color: white;
	font-family: rexlia;
	font-size: 15px;
	border-radius: 2px;
	text-align: center;
}

.caja p {
	font-size: 14px;
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.caja hr {
	width: 80%;
	margin: 15px auto;
}

.caja img {
	width: 50px;
}

.caja a:hover {
	opacity: .6;
}

.leyenda{
	background-color: rgba(74,50,20,.6);
}

.cajaVerde {
  background-color: rgba(40,80,10,.6);
	grid-row-start: tipo1;
}

.cajaAzul {
	background-color: rgba(20,50,99,.6);
	grid-row-start: tipo2;
}

.cajaMixta {
	background-color: rgba(40,80,10,.6);
	grid-row-start: mixto;
}

#footerTienda {
	grid-row-start: 3;
}

@media (max-width: 900px) {

	#containerTienda {
		grid-column-gap: 5px;
		grid-template-rows: [leyenda] 80px [tipo1] 400px [tipo2] 400px [mixto] 1fr;
	 grid-template-columns: [individual] 1fr [peque] 1fr [grande] 1fr;
	}

	.caja img{
		margin 0 auto;
	}

	.cajaVerde img + img, .cajaAzul img + img {
		display: none;
	}

	.cajaMixta img + img{
		display: none;
	}

	.cajaMixta img:first-of-type + img {
		display: inline;
		margin: 0;
	}

	.cajaMixta img{
		margin: 0;
	}
}


/* ------------ Contacto -------------*/

#bodyContacto{
	grid-template-rows: [header] 100px [containerinicio] 100px [container] 1fr [containerfin] 10px [footer] 50px;

}

.leyenda1{
	background-color: rgba(74,50,20,.6);

	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	padding: 20px;
}

.leyenda2{
	background-color: rgba(74,50,20,.6);

	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 6;
	padding: 20px;
}

.nosotros {
  background-color: rgba(40,80,10,.6);
	grid-row-start: tipo1;

	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 4;
}

.nosotros p {
	margin: 20px 40px;
	line-height: 30px;
}

.contacta {
	background-color: rgba(20,50,99,.6);
	grid-row-start: tipo2;

	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 4;
	grid-column-end: 6;
}

.contacta input{
	padding:2px;
	width: 70%;
}

.caja2 {
  margin:10px;
	color: white;
	font-family: rexlia;
	font-size: 15px;
	border-radius: 2px;
	text-align: center;

	z-index: 1;

}

textarea {
	width: 70%;
}

#fondocon{
	width: 200%;
	height: 100%;
	position: relative;
	animation: 30s slidy infinite alternate linear;
	overflow: hidden;

	z-index:1;

	grid-row-start: 2;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 8;
}

#fondocon img{
		position: relative;
	 float: left;
	 width: 50%;
	 height: 100%;

}

@keyframes slidy {

  0% { left: 0% }
	50% { left: 0% }
  55% { left: -100%}
  100% { left: -100%}

}

.f{
	width: 80%;
	height: 200px;
	margin: 20px;
}

.p2{
	margin:20px auto;
	font-size:14px;
}

#boton{
	color:#474747;
	border-radius: 5px;
	margin:19px auto;
	font-family: rexlia;
  padding-left: 10px;
  padding-right: 10px;
	font-size: 20px;
	width: 30%;
}

#boton:hover{
	background-color: #3b3332;
	color:white;
}

.nosotros hr{
	width: 80%;
	margin: 20px auto;
}


header ul {
	z-index: 2;
}


@media (max-width: 1000px){
	#bodyContacto {
	 grid-template-rows: [header] 100px [containerinicio] 100px [container] 1fr [containerfin] 100px [footer] 1fr 100px;
  }

	#bodyContacto footer{
		grid-row-start: 6 ;
	}
}

/* fuentes */

@font-face {
	font-family: THUNDERJAGGER;
	src: url(fuentes/THUNDERJAGGER.ttf);
}

@font-face {
	font-family: rexlia;
	src: url(fuentes/rexlia.ttf);
}
