/**
*	TODO:
*	-ajustar letras de los lados
* -ajustar Footer
*
* + menu
*/


/* Generales */
* {
	margin: 0;
	padding: 0;
}

p{
	font-family: rexlia;
	color:white;
	font-size:22px;
}

h1 {
	display: block;
	color: white;
	text-align: center;
	font-family: THUNDERJAGGER;
	font-size: 50px;
}

a {
	text-decoration: none;
}
/* Body */

body {
	height: 100%;

	/*grid*/
	display: grid;
	grid-template-rows: [header] 100px [containerinicio] 100px [container] 500px [containerfin] 100px [footer] 50px;
	grid-template-columns: repeat(6,1fr);
}

/* Header */

header {
	background-color: #514948;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 100px auto 100px ;
	z-index: 2;

	/*grid*/
	grid-column-start: 1;
	grid-column-end: 7;
}

header h1 {
	display: block;
	color: white;
	text-align: center;
	font-family: THUNDERJAGGER;
	font-size: 50px;
	z-index: 3;

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

header img {
	width: 50%;
	margin: 25px;

	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}


header  div {
	width: 100%;
	height: 100%;
	z-index: 3;

	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

header > div:hover + ul {
	visibility: visible;
	margin-top: 12px;
}


header ul {
	visibility: visible;
	background-color: white;
	display: block;
	list-style: none;
	z-index: 1;


	transition-property: margin-top;
  transition-duration: 0.3s;

	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;

	margin-top: -70px;
	right: 20px;
	width: 200px;
}

header ul:hover {
	margin-top: 12px;

}

header ul > li {
	padding: 8px;
	font-family: rexlia;
	background-color:#424242;

}

#opaco {
	background-color: inherit;
	z-index: 2;
	grid-column-start: 2;
	grid-column-end: 4;
}

header a{
	color: white;
}

header a:hover{
	color: #D8D8D8;
}

#gancho{
	text-align: center;
	z-index: 3;

	grid-column-start: 2;
	grid-row-start: 2;
}

/* Contenido */

#ladoIzq {
	background-image: url(img/fondoizq.jpg);

	/*grid*/
	grid-column-start: 1;
	grid-column-end: 4;

	/*flexbox*/
	flex-direction: row-reverse;

}

#ladoIzq>p {
	visibility: hidden;
	width: 80%;
	margin: 100px auto;
}

#ladoIzq>img:hover + p {
	visibility: visible;
}


#ladoDer {
	background-image: url(img/mont3.jpg);

	/*grid*/
	grid-column-start: 4;
	grid-column-end: 7;

}

#ladoDer>p {
	visibility: hidden;
	width: 80%;
	margin: 100px auto;
}

#ladoDer>img:hover + p {
	visibility: visible;
}

.fondoContainer {
	display: flex;

	background-repeat: no-repeat;
	background-size: cover;

	grid-row-start: containerinicio;
	grid-row-end: footer;

	padding: 20px 0;
}

.fondoContainer > img {
	height: 500px;
  margin: 100px 0;
}

#logo {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;

	margin: 270px 0;
}

/* Footer */

footer {
	background-color: #514948;

	/*grid*/
	grid-row-start: footer;
	grid-column-start: 1;
	grid-column-end: 7;
}


#pabajo{
	font-size:14px;
	color:#D8D8D8;
	text-align: center;
	margin-top:13px;
}


/* ------------ Tienda -------------*/

/*Container*/
#bodyTienda {
	grid-template-columns:15px 1fr 15px;
	/* arreglar footer*/
	grid-template-rows: 100px auto 100px ;
	grid-row-gap: 15px;

	background-image: url("img/mont3.jpg");
	background-size: fill;
	background-attachment: fixed;
}

#containerTienda {
	display: grid;
	width: 100%;
	height: 100%;

	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;

	grid-template-rows: [leyenda] 50px [tipo1] 1fr [tipo2] 1fr [mixto] 1fr;
	grid-template-columns: [individual] 2fr [peque] 3fr [grande] 4fr;

 	grid-column-gap: 15px;
 	grid-row-gap: 15px;
	/*! grid-row-margin-top: 15px; */
}

.caja {
   padding:10px;
	 color: white;
	 font-family: rexlia;
	 font-size: 15px;
	 border-radius: 2px;
	 text-align: center;
}

.caja p {
	font-size: 14px;
	text-align: left;
}

.caja hr {
	width: 80%;
	margin: 15px auto;
}

.caja img {
	width: 50px;
}

.caja img:hover {
	opacity: .9;
}

.leyenda{
	background-color: rgba(74,50,20,.6);
}

.cajaVerde {
  background-color: rgba(40,80,10,.6);
	grid-row-start: tipo1;
}

.cajaAzul {
	background-color: rgba(20,50,99,.6);
	grid-row-start: tipo2;
}

.cajaMixta {
	background-color: rgba(40,80,10,.6);
	grid-row-start: mixto;
}

#footerTienda {
	grid-row-start: 3;
}
/* fuentes */

@font-face {
	font-family: THUNDERJAGGER;
	src: url(fuentes/THUNDERJAGGER.ttf);
}

@font-face {
	font-family: rexlia;
	src: url(fuentes/rexlia.ttf);
}
