/* Generales */
* {
	margin: 0;
	padding: 0;
}

/* Body */

body {
	height: 100%;

	/*grid*/
	display: grid;
	grid-template-rows: [header] 200px [container] 500px [footer] 50px;
	grid-template-columns: repeat(6,1fr);
}

/* Header */

header {
	padding: 10px;
	background-color: red;

	/*grid*/
	grid-column-start: 1;
	grid-column-end: 7;
}

header h1 {
	display: block;
	color: white;
}

/* Contenido */

#ladoIzq {
	background-color: blue;

	/*grid*/
	grid-column-start: 1;
	grid-column-end: 4;
} 

#ladoDer {
	background-color: green;

	/*grid*/
	grid-column-start: 4;
	grid-column-end: 7;
}

/* Footer */ 

footer {
	background-color: wheat;

	/*grid*/
	grid-row-start: footer;
	grid-column-start: 1;
	grid-column-end: 7;
}